astroid==2.4.2
isort==5.7.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
MouseInfo==0.1.3
Pillow==8.1.0
pkg-resources==0.0.0
PyAutoGUI==0.9.52
PyGetWindow==0.0.9
pylint==2.6.2
PyMsgBox==1.0.9
pyperclip==1.8.1
PyRect==0.1.4
PyScreeze==0.1.26
python3-xlib==0.15
PyTweening==1.0.3
six==1.15.0
toml==0.10.2
typed-ast==1.4.2
wrapt==1.12.1
